
body{
    max-width: 1920px;
    background-color: #98a0ad;

}

*{
    box-sizing: border-box;
}

#wrapper{
    max-width: 1640px;
    margin: 0 auto;
    background-color: white;
    overflow-x: hidden;
}

.header {
    position: relative;
    width: 100%;
    height: 650px;
}

.header_bg {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(33, 36, 41);
    width: 100%;
    height: 50%;
}

.header-wh{
    position: absolute;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    height: 50%;
    z-index: 1;
}

.header-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    background-color: rgb(33, 36, 41);
}

.menu{
    margin-left: 55px;
    height: 54px;
    width: 54px;
    border-left: 1px solid #3c3c3c;
    border-right: 1px solid #3c3c3c;
}

.menu a{
    display: block;
    height: 100%;
    width: 100%;
}

.menu a:hover{
    background-color: #1c1c1c;
}

.logo{
    display: flex;
    align-items: center;
    height: 50px

}

.deco {
    width: 76px;
    height: 16px;
    margin-left: 75%;
}

.blog {
    font-size: 20px;
    font-family: "Hind";
    color: rgb(254, 254, 254);
    text-transform: uppercase;
    line-height: 1.333;
    letter-spacing: 3px;
    margin: 5px 0 0 10px;
}

.social-container{
    margin-right: 50px;
    width: 278px;
    height: 54px;
}

.social-container ul{
    width: 278px;
    height: 54px;
    margin: 0;
    padding: 0;
}

.social-container ul li{
    display: inline-block;
    width: 50px;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.social-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 54px;
    cursor: pointer;
    text-decoration: none;
    border-left: 1px solid #3c3c3c;
}

.social-container a:hover{
    background-color: #1c1c1c;
}

.social-container ul li a.border-right{
    border-right: 1px solid #3c3c3c;
}

.social-container ul li a i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
}

.header-image{
    margin: 0 auto;
    background-image: url(img/image.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 93%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    right: 20px;
    z-index: 2;
}

.header-image-text{
    position: absolute;
    top: 37%;
    left: 4%;
    width: 40%;
    height: 180px;
}

.latest {
    position: relative;
    font-size: 18px;
    font-family: "Hind";
    font-weight:700;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
    text-align: left;
    width: 80%;
    margin: 0 0 0 2px;
}


h1 {
    position: absolute;
    width: 80%;
    font-size: 40px;
    font-family: "Hind";
    color: rgb(255, 255, 255);
    font-weight: 800;
    letter-spacing: 6px;
    text-transform: uppercase;
    line-height: 1.25;
    text-align: left;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.44);
    margin: 15px 0 0 0;
}

/*FORM*/

.form{
    width: 93%;
    margin: 0 auto;
    background-color: #f7f7f7;
}

.form .row{
    width: 100%;
    margin: 0;
}

.form .col-lg-2,.col-lg-4,.col-md-3,.col-sm-12 {
    margin-top: 30px;
}

.form h3{
    font-family: 'Montserrat';
    font-weight:900;
    letter-spacing: 4px;
    line-height: 1.4;
    font-size: 20px;
    text-transform: uppercase;
    margin:0;
}

form.contact-form{
    height: 100%;
}

input{

}

.form-name{
    width: 100%;
    height: 50px;
    margin: 0 30px 0 0;
}

.form-name #name{
    width: 100%;
    height: 50px;
    font-family: "Hind";
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    padding-left: 20px;
}

.form-email{
    width: 100%;
    height: 50px;
    margin: 0 65px 0 0;
}

.form-email #email{
    width: 100%;
    height: 50px;
    font-family: "Hind";
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    padding-left: 20px;

}

.col-lg-2 .subscription{
    margin-bottom: 30px;
}

.subscription{
    width: 100%;
    height: 50px;

}

.botton{
    width: 100%;
    height: 50px;
    background-color: #212121;
    border: 0;
    font-family: "Hind";
    font-weight:600;
    letter-spacing: 4px;
    text-transform: uppercase;
    color:#ffffff;
}

/*CONTENT*/

.content-box{
    display: flex;
    flex-direction: row;
    margin: 0;

}
/*CONTENT*/

.content-box .row{
    margin: 0 auto 50px;
    width: 93%
}



.content{
    width: 100%;
    margin-right: 60px;
}

/*IMAGE*/

.travel .images{
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.icon-image{
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 32px;
    height: 30px;
}

.travel .images img.picture{
    width: 100%;
    height: 100%;
}

/*TRAVEL*/

.travel{
    position: relative;
    width: 100%;
    border: 1px solid #f4f4f4;
    background-color: #fff;
    text-align: center;
    margin-bottom: 40px;

}

article{
    width: 100%;
}

span.name{
    color: #999999;
    text-transform: uppercase;
    margin: 0 30px 0 10px;
}

h4{
    font-family: "Hind";
    font-size: 14px;
    text-transform: uppercase;
    color: #999999;
    margin-top: 30px;
}

h2{
    font-family: "Hind";
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 20px 0;

}

span.name{
    color: #999999;
    text-transform: uppercase;
    margin: 0 30px 0 10px;
}

.fa.fa-user{
    font-size: 16px;
    color: #464646;
}

.fa.fa-calendar{
    font-size: 16px;
    color: #464646;
}

.travel time{
    font-family: "Hind";
    font-size: 17px;
    color: #999999;
    margin: 20px 0 0 10px;

}

.travel p {
    font-family: "Hind";
    font-size: 16px;
    text-align:justify;
    font-weight: 400;
    color: #464646;
    margin: 20px 20px 20px 20px;
    line-height: 1.7;
    letter-spacing: 1px;
}

.travel b.center-b{
    display: block;
    font-family: "Hind";
    font-size: 16px;
    width: 60%;
    margin: 0 auto;
    text-align: justify;
    line-height: 1.7;
    letter-spacing: 1px;
}

b{
    font-family: "Hind";
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 1px;
}

.tags{
    display: block;
    text-align: center;
    margin: 30px 0;
}

.fa.fa-tags:before{
    float: left;
    margin-top: 3px;
    font-size: 16px;
}

.tags p{
    float: left;
    font-family: "Hind";
    font-size: 16px;
    font-weight: 500;
    color: #999999;
    text-transform: uppercase;
    margin: 0 0 0 15px;
}

.comments-social{
    display: block;
    width: 96%;
    height: 40px;
    margin: 0 0 0 20px;
}

i.fa.fa-comments-o::before{
    color: #212121;
}

.comments{
    width: 155px;
    font-family: "Hind";
    font-size: 14px;
    color: #999999;
    text-transform: uppercase;
    float: left;
    text-align: left;
}

.number-comments {
    font-family: "Hind";
    text-transform: uppercase;
    font-size: 14px;
    color: #999999;
}

.no-comments{
    font-family: "Hind";
    text-transform: uppercase;
    font-size: 14px;
    color: #999999;
}


.like{
    width: 100px;
    float: left;
    text-align: left;
}

.number-like{
    font-family: "Hind";
    text-transform: uppercase;
    font-size: 15px;
    color: #999999;
    margin-left: 5px;
}

.name-like{
    font-family: "Hind";
    text-transform: uppercase;
    font-size: 15px;
    color: #999999;
    margin-left: 5px;
}

.popularit{

    float: left;

   display: block;
    margin: 0 auto;
}

.popularit p {
    font-family: "Hind";
    text-transform: uppercase;
    font-size: 15px;
    color: #999999;
    font-weight: 500;
    width: 85px;
    float: left;
    margin: 0 0 0 0;
}

.popularit span{
    float: left;
    font-family: "Hind";
    text-transform: uppercase;
    font-size: 15px;
    color: #999999;
    font-weight: 500;
}

.fa.fa-star{
    color: #464646;
    margin: 4px 0 0 5px;
}


.social {
    width: 150px;
    height: 30px;
    float: right;

}

.social ul li{
    display: inline-block;
    text-decoration: none;
    padding-top: 3px;
    width: 23%;
    height: 100%;
}

.social li i{
    color: #464646;
    width: 100%;
}

.post-slider{
    display: block;
    width: 100%;
    height: 150px;
}

.previous-post{
    float: left;
    width: 48%;
    height: 150px;
    background-color: #000;

}

.post-left{
    display: block;
    width: 180px;
    height: 100%;
    margin: 65px auto 0;


}

.previous-post p{
    float: left;
    color: #fff;
    font-family: "Hind";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
}

.fa.fa-long-arrow-left{
    float: left;
    margin: 2px 20px 0 0;
    color: #fff;
    font-size: 20px;
}

.next-post{
    float: right;
    width: 48%;
    height: 150px;
    background-color: #3a3c49;
}

.post-right{
    display: block;
    width: 135px;
    height: 100%;
    margin: 65px auto 0;

}

.next-post p{
    float: left;
    color: #fff;
    font-family: "Hind";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.fa.fa-long-arrow-right{
    float: left;
    margin: 2px 0 0 20px;
    color: #fff;
    font-size: 20px;
}

.all-post{
    display: flex;
    width: 100%;
    height: 200px;
    margin-top: 60px;
}

.all-post-img{
    background-image: url("img/3.jpg");
    background-size: cover;
    background-position: center;
    width: 210px;
    height: 175px;
    float: left;
    margin-right: 30px;
}

.all-post-cont{
    /*float: right;*/
    width: 75%;
    height: 175px;
}

.all-post h2{
    float: left;
    margin: 40px 0 15px 0;
}

.all-post span{
    float: right;
    font-family: "Hind";
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.7;
    letter-spacing: 2px;
    margin-top: 40px;
}

.all-post hr{
    width: 100%;
}

.all-post p {
    width: 100%;
    height: 50px;
    font-family: "Hind";
    font-weight: 500;
    font-size: 14px;
    margin-top: 15px;

}

.all-post-social{
    width: 100%;
}

.all-post-soc{
    display: inline-block;
    width: 24%;
}

.all-post-social a{
    display: block;
    float: left;
    width: 60px;
    height: 50px;
}

.all-post-social a i{
    color: #464646;
    font-size: 20px;
    padding: 25% 0 0 40% ;
    width: 100%;
    height: 100%;
}

.all-post-social a:hover{
    background-color: #212121;
    color: #fff;
}

.all-post-social a i:hover{
    color: #fff;
}

.all-post-social span{
    float: left;
    font-family: "Hind";
    font-weight: 500;
    font-size: 16px;
    color: #999999;
    text-transform: uppercase;
    margin: 15px 0 0 5px ;
}

.recomended-post{
    width: 100%;
    height: 345px;
}

.recomended-post h2{
    float: left;
    width: 300px;
    font-family: 'Montserrat';
    font-weight:900;
    letter-spacing: 4px;
    line-height: 1.4;
    font-size: 20px;
    text-transform: uppercase;
}

.arrows{
    float: right;
    margin: 20px 40px 0 0 ;
}

a.arrow{
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    background-color: #464646;
    margin-left: 10px;
}

.arrow .fa.fa-long-arrow-left {
    font-size: 13px;
    margin: 10px 0 0 8px;
}

.arrow .fa.fa-long-arrow-right {
    font-size: 13px;
    margin: 10px 0 0 8px;
}

.post{
    width: 100%;
    float: left;
}

.post-block{
    width: 33.3333%;
    float: left;
}

.recomended-post-img{

    background-color: #464646;
    width: 90%;
    height: 220px;
}

.recomended-post h3{
    width: 90%;
    font-family: 'Montserrat';
    font-weight:900;
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 20px;
}


/*SIDEBAR*/

.content-box .col-lg-3, .content-box .col-md-12, .content-box .col-sm-12{
    padding: 0 ;

}

.col-xs-12{
    width: 60%;
    margin: 0 auto;
}

.sidebar{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-left: 1px solid #fff;
    margin-bottom: 20px;
    padding-left: 30px;
}

.search{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
}

.search input{
    width: 100%;
    height: 50px;
    font-family: "Hind";
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #212121;
}

.search a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #212121;
    color: #fff;
    text-decoration: none;
}

.sidebar-img-top{
    background: url("img/sidebarimg2.png") no-repeat;
    background-size:  cover;
    width: 100%;
    height: 773px;
    margin: 20px 0 20px 0;
}

.catagories{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.catagories h3{
    font-family: 'Montserrat';
    font-weight:900;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0 ;
}

.catagories ul li a{
    display: flex;
    justify-content: space-between;
    font-family: "Hind";
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none;
    color: #212121;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    padding: 15px 0 15px 0;
}

span.numder{
    font-size: 16px;
    font-weight: 600;
    color: #212121;

}

.sidebar-img-bottom{
    background: url("img/sidebarimg1.png") no-repeat;
    background-size:  cover;
    width: 100%;
    height: 274px;
    margin: 20px 0 20px 0;
}

.latest-block{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.latest-block h3{
    font-family: 'Montserrat';
    font-weight:900;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0 ;
}

.latest-post{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0;
}

.post-img{
    display: flex;
    background-color: #1c1c1c;
    width: 100px;
    height: 80px;
}

.latest-article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
    height: 85px;
    margin-left: 10px;
}

.latest-article h2{
    width: 100%;
    font-family: 'Montserrat';
    font-weight:600;
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
    line-height: 1.3;
    letter-spacing: 2px;
}

.data-soc{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 20px;
}

.latest-article time{
    font-family: "Hind";
    font-size: 14px;
    font-weight: 500;
    width: 100px;
    color: #999999;
    text-transform: uppercase;
}

.latest-article span.like{
    font-family: 'Hind';
    font-weight:300;
    letter-spacing: 1px;
    font-size: 15px;
    width: 30px;
    text-transform: uppercase;
    margin: 0;
    height: 22px;
    color: #999999;
}

.latest-article span.number-like{
    font-family: 'Hind';
    font-weight:300;
    letter-spacing: 1px;
    font-size: 15px;
    width: 15px;
    height: 22px;
    color: #999999;
    margin-left: 5px;
}

.sidebar-social-container{
    width: 100%;
    margin: 20px 0;
}

.sidebar-social-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar-social-container ul li {

}

.sidebar-social-container ul li a{
}

.sidebar-social-container ul li a {
    font-size: 18px;
    color: #464646;
}

/*FOOTER*/

footer{
    background-color: #212429;
    margin: 0 auto;
}

footer .col-lg-3, footer .col-md-3, footer .col-sm-12{
    margin: 0 0 40px 0;
}

footer h5{
    width: 90%;
    margin: 45px 0 35px 8px;
    font-family: 'Montserrat';
    font-weight:900;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

footer p,footer span{
    font-family: 'Hind';
    font-weight:300;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: normal;
    color: #fff;
}

footer .about-blog{
    width: 100%;
    height: 100%;
    margin-left: 20px;
}


footer .about-blog p{
    width: 90%;
    margin: 0 0 10px 4px;
}

.natali{
    position: relative;
    width:  90%;
    height: 147px;
    background-color: #3a3c49;
}

.natali p.nathalia{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    width: auto;
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 36px;
    color: #fff;
    transform: rotate(-9deg);
}

footer .tweets{
    width: 100%;
    height: 100%;
    margin: 0;

}

footer .tweets h5{
    margin-bottom: 0;
}

footer .tweets i{
    width: 100%;
    font-size: 16px;
    color: #fff;
    margin: 35px 3px 6px 8px;
}

footer .tweets.fa.fa-twitter{

}

footer .tweets i p{
    display: inline-block;
    font-family: 'Hind';
    font-weight:300;
    font-size: 15px;
    color: #fff;
    margin-left: 7px;
}

footer .tweets p{
    margin-left: 30px;
}

footer .instagram{
    width: 100%;
    height: 100%;

}

footer .instagram .inst-conteiner{
    margin-left: 10px;
}

.inst-conteiner{
    width: 90%;
    height: 200px;
    background-color: #fff;
}

.inst-conteiner .inst-conteiner-lit{
    float: left;
    height: 100px;
    width: 33.3333%;
    border: 1px solid #212429;
}

footer .comment{
    width: 100%;
    height: 100%;

}

footer .comment .developer{
    width: 90%;
    margin-left: 10px;
}

footer .comment .developer p{
    margin-top: 10px;
}

footer .comment .developer hr{
    margin: 20px auto;
}

.footer-copyright{
    background-color: #17191c;
}

.copyright-text{
    text-align: center;
    height: 42px;
    font-family: 'Hind';
    font-weight:400;
    font-size: 15px;
    color: #747577;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    width: 100%;
    padding-top: 10px;
}